{{#if addNewQuestion}}

  <div class="container">
    <h1>New Burning Question:</h1>
    <form>
      <div class="form-group">
        <label for="question">Question:</label>
        {{textarea value=ask id="ask" class="form-control"}}
        <br>
        <label for="author" default="">Author:</label>
        {{input value=author id="author" class="form-control"}}
      </div>

        <label for="notes">Notes:</label>
        {{input value=notes id="notes" class="form-control"}}
      <div>
        <button class="btn-sm btn-success" {{action 'addQuestion'    question}}>Ask!</button>
        <button class="btn-sm btn-danger" {{action 'forgetIt'}}>Forget It!</button>
      </div>
    </form>
  </div>
{{else}}
<div class="center">
  <button class="btn-lg btn-primary"{{action 'questionFormShow'}}>Ask a Question</button>
</div>
{{/if}}
