<hr>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-centered col-sm-offset-3">
      <!-- <h2 class="centerit">Current Answers:</h2> -->

      <h4 class="centerit">Total Answers: {{totalAnswers}}</h4>

      {{#each sortedAnswers as |answer|}}
      <div id="border" >
        <h3 class="center">{{answer.answer}}</h3>
          <p class="center"><strong>Author:</strong> {{answer.author}}</p>
          <p>Votes: {{answer.voteCount}}</p>

            <div >
                  <button class="waves-effect waves-green btn upvoteBtn" {{action 'upvote' answer}}>Upvote</button>
                  <button class="btn-sm btn-danger floatRight " {{action 'deleteAnswer' answer}} >Delete!</button>
            </div>

      </div>

      {{/each}}


    </div>
  </div>
</div>
