<h4 class="centerit">Total Questions in Your Cart: {{totalQuestions}}</h4>


<div class="container">
{{#each questionCart.questions as |question|}}
  <div id="border">

      {{#link-to 'question' question.id}}
      <h3 class="center">{{question.ask}}</h3>
      {{/link-to}}
      <p><strong>Asker:</strong> {{question.author}}</p>
      <p>Notes: {{question.notes}}</p>
      <button class="waves-effect waves-green btn" {{action 'removeFromCart' question}}>Remove</button>
  </div>
{{/each}}
</div>
